@use 'fonts';
@use 'dialogue-line';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #18262B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #E1E6E8;
  fill: #E1E6E8;
  font-family: Ubuntu;
}
